*~
*.1
*.buildinfo
*.changes
*.deb
*.ddeb
*.dsc
*.la
*.lo
*.o
*.rpm
*.service
*.spec
*.tar.gz
*.tar.xz
.deps
.libs
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
moc_*
cunc/cunc
cuncd/cuncd
debian/changelog
debian/control
